<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tutorial</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>lista usuarios App</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.Usuario</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Rest para autotizaciones seguro</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.ws.auth</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Rest historial</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.ws.historial</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WS Polizas</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.Poliza</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>WS Clientes</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.Cliente</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>WS Servicios</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gio.co.seguros.Servicios</param-value>
        </init-param>
        <!-- this is only required if using json -->
        <init-param>
                <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>lista usuarios App</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>WS Polizas</servlet-name>
        <url-pattern>/restP/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WS Clientes</servlet-name>
        <url-pattern>/restC/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rest para autotizaciones seguro</servlet-name>
        <url-pattern>/restAuth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rest historial</servlet-name>
        <url-pattern>/restHist/*</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>WS Servicios</servlet-name>
        <url-pattern>/restS/*</url-pattern>
    </servlet-mapping>
</web-app>







